<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.emf.ecore.dynamic_package">
      <resource
            location="model/widget.ecore"
            uri="http://www.eclipse.org/gmf/2008/Widget">
      </resource>
      <resource
            location="model/context.ecore"
            uri="http://www.eclipse.org/gmf/2008/Context">
      </resource>
      <resource
            location="model/binding.ecore"
            uri="http://www.eclipse.org/gmf/2008/Binding">
      </resource>
   </extension>

</plugin>
