<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
/**
 * <copyright>
 *
 * Copyright (c) 2003-2004 IBM Corporation and others.
 * All rights reserved.   This program and the accompanying materials
 * are made available under the terms of the Common Public License v1.0
 * which accompanies this distribution, and is available at
 * http://www.eclipse.org/legal/cpl-v10.html
 *
 * Contributors:
 *   IBM - Initial API and implementation
 *
 * </copyright>
 *
 * $Id: plugin.xml,v 1.5 2004/06/23 21:54:20 davidms Exp $
 */
-->

<plugin
    name = "%pluginName"
    id = "org.eclipse.emf.ecore.sdo.editor"
    version = "2.0.0"
    provider-name = "%providerName"
    class = "org.eclipse.emf.ecore.sdo.presentation.SDOEditorPlugin$Implementation">

  <requires>
    <import plugin="org.eclipse.core.runtime"/>
    <import plugin="org.eclipse.core.resources"/>
    <import plugin="org.eclipse.ui.ide" export="true"/>
    <import plugin="org.eclipse.emf.ecore.sdo.edit" export="true"/>
    <import plugin="org.eclipse.emf.ecore.xmi" export="true"/>
    <import plugin="org.eclipse.emf.edit.ui" export="true"/>
    <import plugin="org.eclipse.emf.ecore.edit" export="true"/>
    <import plugin="org.eclipse.emf.codegen.ecore"/>
  </requires>

  <runtime>
    <library name="runtime/ecore.sdo.editor.jar">
      <export name="*"/>
    </library>
  </runtime>

  <extension
    point = "org.eclipse.ui.newWizards">
    <category
       id = "org.eclipse.emf.ecore.Wizard.category.ID"
       name="%_UI_Wizard_category">
    </category>
    <wizard
        id = "org.eclipse.emf.ecore.sdo.presentation.SDOModelWizardID"
        name = "%_UI_SDOModelWizard_label"
        class = "org.eclipse.emf.ecore.sdo.presentation.SDOModelWizard"
        category = "org.eclipse.emf.ecore.Wizard.category.ID"
        icon = "icons/full/ctool16/NewSDO.gif">
      <description>%_UI_SDOModelWizard_description</description>
      <selection class = "org.eclipse.core.resources.IResource" />
    </wizard>
  </extension>

  <extension point = "org.eclipse.ui.editors">
    <editor
        id = "org.eclipse.emf.ecore.sdo.presentation.SDOEditorID"
        name = "%_UI_SDOEditor_label"
        icon = "icons/full/obj16/SDOModelFile.gif"
        extensions = "datagraph"
        class = "org.eclipse.emf.ecore.sdo.presentation.SDOEditor" 
        contributorClass="org.eclipse.emf.ecore.sdo.presentation.SDOActionBarContributor" >
    </editor>
  </extension>

  <extension point = "org.eclipse.ui.popupMenus">

    <objectContribution id="org.eclipse.emf.ecore.sdo.editor.SetSDODefaults"
         objectClass="org.eclipse.emf.codegen.ecore.genmodel.GenModel" >

      <action id="org.eclipse.emf.ecore.sdo.editor.SetSDODefaultsAction"
          label="%_UI_SetSDODefaults_menu_item"
          menubarPath="additions"
          class="org.eclipse.emf.ecore.sdo.action.SetSDODefaultsAction"
          enablesFor="1">
      </action>

    </objectContribution>

    <objectContribution id="org.eclipse.emf.ecore.sdo.editor.DataObjectTest"
         objectClass="org.eclipse.emf.ecore.sdo.EDataObject" >

      <action id="org.eclipse.emf.ecore.sdo.editor.EvaluatePathAction"
          label="%_UI_EvaluatePath_menu_item"
          menubarPath="additions"
          class="org.eclipse.emf.ecore.sdo.action.EvaluatePathAction"
          enablesFor="1">
      </action>

    </objectContribution>

    <objectContribution id="org.eclipse.emf.ecore.sdo.editor.ChangeSummaryTest"
         objectClass="org.eclipse.emf.ecore.sdo.EChangeSummary" >

      <action id="org.eclipse.emf.ecore.sdo.editor.BeginLoggingAction"
          label="%_UI_BeginLogging_menu_item"
          menubarPath="additions"
          class="org.eclipse.emf.ecore.sdo.action.BeginLoggingAction"
          enablesFor="1">
      </action>

      <action id="org.eclipse.emf.ecore.sdo.editor.EndLoggingAction"
          label="%_UI_EndLogging_menu_item"
          menubarPath="additions"
          class="org.eclipse.emf.ecore.sdo.action.EndLoggingAction"
          enablesFor="1">
      </action>

      <action id="org.eclipse.emf.ecore.sdo.editor.ApplyChangeAction"
          label="%_UI_ApplyChange_menu_item"
          menubarPath="additions"
          class="org.eclipse.emf.ecore.sdo.action.ApplyChangeAction"
          enablesFor="1">
      </action>

    </objectContribution>

  </extension>
</plugin>
