<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://www.eclipse.org/gmf/2005/GenModel" 
       class = "org.eclipse.gmf.codegen.gmfgen.GMFGenPackage"
       genModel = "models/gmfgen.genmodel" /> 
    <package 
       uri = "http://www.eclipse.org/gmf/2005/GenModel/2.0" 
       class = "org.eclipse.gmf.codegen.gmfgen.GMFGenPackage"
       genModel = "models/gmfgen.genmodel" /> 
    <package 
       uri = "http://www.eclipse.org/gmf/2008/GenModel"
       class = "org.eclipse.gmf.codegen.gmfgen.GMFGenPackage"
       genModel = "models/gmfgen.genmodel" />       
  </extension>

  <extension
        point="org.eclipse.emf.ecore.dynamic_package">
     <resource
           location="models/gmfgen_2007.ecore"
           uri="http://www.eclipse.org/gmf/2006/GenModel">
     </resource>
  </extension>

  <extension point="org.eclipse.team.core.fileTypes">
    <fileTypes extension="gmfgen" type="text" />
  </extension>

  <extension
        point="org.eclipse.emf.ecore.content_parser">
     <parser
           class="org.eclipse.gmf.internal.common.ToolingResourceFactory"
           contentTypeIdentifier="org.eclipse.gmf.gen">
     </parser>
     <parser
           class="org.eclipse.gmf.internal.codegen.util.GMFGenResource$Factory2"
           contentTypeIdentifier="org.eclipse.gmf.gen_2_0">
     </parser>
     <parser
           class="org.eclipse.gmf.internal.codegen.util.GMFGenResource$Factory"
           contentTypeIdentifier="org.eclipse.gmf.gen_1_0">
     </parser>
  </extension>

  <extension
        point="org.eclipse.core.runtime.contentTypes">
     <content-type
           base-type="org.eclipse.emf.ecore.xmi"
           file-extensions="gmfgen"
           id="org.eclipse.gmf.gen"
           name="%contenttype.gmf"
           priority="normal">
        <describer
              class="org.eclipse.emf.ecore.xmi.impl.RootXMLContentHandlerImpl$Describer">
           <parameter
                 name="namespace"
                 value="http://www.eclipse.org/gmf/2008/GenModel">
           </parameter>
           <parameter
                 name="kind"
                 value="xmi">
           </parameter>
        </describer>
     </content-type>
     <content-type
           base-type="org.eclipse.emf.ecore.xmi"
           file-extensions="gmfgen"
           id="org.eclipse.gmf.gen_2_0"
           name="%contenttype.gmf20"
           priority="normal">
        <describer
              class="org.eclipse.emf.ecore.xmi.impl.RootXMLContentHandlerImpl$Describer">
           <parameter
                 name="namespace"
                 value="http://www.eclipse.org/gmf/2006/GenModel">
           </parameter>
           <parameter
                 name="kind"
                 value="xmi">
           </parameter>
        </describer>
     </content-type>
     <content-type
           base-type="org.eclipse.emf.ecore.xmi"
           file-extensions="gmfgen"
           id="org.eclipse.gmf.gen_1_0"
           name="%contenttype.gmf10"
           priority="normal">
        <describer
              class="org.eclipse.emf.ecore.xmi.impl.RootXMLContentHandlerImpl$Describer">
           <parameter
                 name="namespacePattern"
                 value="http://www\.eclipse\.org/gmf/2005/GenModel.*">
           </parameter>
           <parameter
                 name="kind"
                 value="xmi">
           </parameter>
        </describer>
     </content-type>
  </extension>

</plugin>
