<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

   <extension
         point="org.eclipse.ui.popupMenus">
      <!-- objectContribution
            adaptable="true"
            id="gmf.codegen.ui.transformToGenModelFile"
            nameFilter="*.gmfmap"
            objectClass="org.eclipse.core.resources.IFile">
         <action
               class="org.eclipse.gmf.internal.codegen.popup.actions.CreateSpecificDiagramRunTimeModelAction"
               enablesFor="1"
               id="gmf.codegen.ui.newAction5"
               label="GMF: Step 0(opt) - Create specific DiagramRT model"
               menubarPath="additions"/>
      </objectContribution -->
      <objectContribution
            adaptable="true"
            id="gmf.codegen.ui.executeTemplates"
            nameFilter="*.gmfgen"
            objectClass="org.eclipse.core.resources.IFile">
         <action
               label="%generatecode.action"
               class="org.eclipse.gmf.internal.codegen.popup.actions.ExecuteTemplatesAction"
               menubarPath="additions"
               enablesFor="1"
               id="gmf.codegen.ui.executeTemplatesAction">
         </action>
         <action
               label="%addextensionmodel.action"
               class="org.eclipse.gmf.internal.codegen.popup.actions.AddExtensionModelAction"
               menubarPath="additions"
               enablesFor="+"
               id="gmf.codegen.ui.addExtensionModelAction">
         </action>
      </objectContribution>
	<objectContribution
    		adaptable="true"
	        id="gmf.codegen.ui.migrate"
    	    objectClass="org.eclipse.core.resources.IFile">
		<action
				label="%migrate.model.action"
				class="org.eclipse.gmf.internal.codegen.popup.actions.MigrateModelAction"
				menubarPath="additions"
				enablesFor="1"
				id="gmf.codegen.ui.migrateAction">
		</action>
		<visibility>
		  <or>
			<objectState name="extension" value="gmfgen"/>
  			<objectState name="extension" value="gmfmap"/>
  			<objectState name="extension" value="gmfgraph"/>
		  </or>
		</visibility>
	</objectContribution>
   </extension>

   <extension point="org.eclipse.jdt.ui.javaElementFilters">
      <filter
            id="org.eclipse.gmf.codegen.ui.hide_generated"
            targetId="org.eclipse.jdt.ui.PackageExplorer"
            name="%filter.hide.generated.label"
            description="%filter.hide.generated.description"
            enabled="false"
			class="org.eclipse.gmf.internal.codegen.HideGeneratedFilter">
      </filter>
   </extension>

   <extension point="org.eclipse.gmf.bridge.ui.dashboard.actions">
      <action
         label="%dashboard.gende"
         class="org.eclipse.gmf.internal.codegen.dashboard.GenerateDEAction"
         location="genmodel">
      </action>
   </extension>

</plugin>
