<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension
         point="org.eclipse.ui.newWizards">
    <category
      id = "org.eclipse.gmf.tooling.wizardCategory"
      name="%wizardCategoryName">
    </category>
    <category
          id="org.eclipse.gmf.tooling.wizardsDefault"
          name="%defaultWizardsCategoryName"
          parentCategory="org.eclipse.gmf.tooling.wizardCategory"/>
    <wizard
          category="org.eclipse.gmf.tooling.wizardCategory"
          class="org.eclipse.gmf.internal.bridge.wizards.NewGMFProjectWizard"
          icon="icons/obj16/NewGMFProject.gif"
          id="org.eclipse.gmf.tooling.newProjectWizard"
          name="%newProjectWizard.name"
          project="true">
       <description>%newProjectWizard.desc</description>
    </wizard>
    <wizard
      id = "org.eclipse.gmf.internal.codegen.wizards.GMFMapGuideModelWizardID"
      name = "%_UI_GMFMapGuideModelWizard_label"
      class = "org.eclipse.gmf.internal.bridge.wizards.GMFMapGuideModelWizard"
      category = "org.eclipse.gmf.tooling.wizardCategory"
      icon = "icons/obj16/GMFMapModelFile.gif">
      <description>%_UI_GMFMapGuideModelWizard_description</description>
      <selection class = "org.eclipse.core.resources.IResource" />
    </wizard>
    <wizard
      id = "org.eclipse.gmf.internal.codegen.wizards.GMFGraphSimpleModelWizardID"
      name = "%_UI_GMFGraphSimpleModelWizard_label"
      class = "org.eclipse.gmf.internal.bridge.wizards.GMFGraphSimpleModelWizard"
      category = "org.eclipse.gmf.tooling.wizardCategory"
      icon = "icons/obj16/GMFGraphModelFile.gif">
      <description>%_UI_GMFGraphSimpleModelWizard_description</description>
      <selection class = "org.eclipse.core.resources.IResource" />
    </wizard>
    <wizard
      id = "org.eclipse.gmf.internal.codegen.wizards.GMFGraphReconcileModelWizardID"
      name = "%_UI_GMFGraphReconcileModelWizard_label"
      class = "org.eclipse.gmf.internal.bridge.wizards.GMFGraphReconcileModelWizard"
      category = "org.eclipse.gmf.tooling.wizardCategory"
      icon = "icons/obj16/GMFGraphModelFile.gif">
      <description>%_UI_GMFGraphReconcileModelWizard_description</description>
      <selection class = "org.eclipse.core.resources.IResource" />
    </wizard>
    <wizard
      id = "org.eclipse.gmf.internal.codegen.wizards.GMFToolSimpleModelWizardID"
      name = "%_UI_GMFToolSimpleModelWizard_label"
      class = "org.eclipse.gmf.internal.bridge.wizards.GMFToolSimpleModelWizard"
      category = "org.eclipse.gmf.tooling.wizardCategory"
      icon = "icons/obj16/GMFToolModelFile.gif">
      <description>%_UI_GMFToolSimpleModelWizard_description</description>
      <selection class = "org.eclipse.core.resources.IResource" />
    </wizard>
    <wizard
      id = "org.eclipse.gmf.internal.codegen.wizards.GMFToolReconcileModelWizardID"
      name = "%_UI_GMFToolReconcileModelWizard_label"
      class = "org.eclipse.gmf.internal.bridge.wizards.GMFToolReconcileModelWizard"
      category = "org.eclipse.gmf.tooling.wizardCategory"
      icon = "icons/obj16/GMFToolModelFile.gif">
      <description>%_UI_GMFToolReconcileModelWizard_description</description>
      <selection class = "org.eclipse.core.resources.IResource" />
    </wizard>
  </extension>

   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            id="gmf.codegen.ui.transformToGenModelFile"
            nameFilter="*.gmfmap"
            objectClass="org.eclipse.core.resources.IFile">
         <action
               class="org.eclipse.gmf.internal.bridge.transform.TransformToGenModelAction"
               enablesFor="1"
               id="gmf.bridge.ui.transformToGenModelFileAction"
               label="%transform.action"
               menubarPath="additions">
         </action>
      </objectContribution>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer class="org.eclipse.gmf.internal.bridge.transform.TransformOptions"/>
   </extension>

</plugin>
