<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

  <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
    <factory 
       uri = "http://www.eclipse.org/gmf/2008/GenModel" 
       class = "org.eclipse.gmf.codegen.gmfgen.provider.GMFGenItemProviderAdapterFactory"
       supportedTypes = 
         "org.eclipse.emf.edit.provider.IEditingDomainItemProvider
          org.eclipse.emf.edit.provider.IStructuredItemContentProvider
          org.eclipse.emf.edit.provider.ITreeItemContentProvider
          org.eclipse.emf.edit.provider.IItemLabelProvider
          org.eclipse.emf.edit.provider.IItemPropertySource" />
  </extension>
  

  <extension
    point = "org.eclipse.ui.newWizards">
    <wizard
      id = "org.eclipse.gmf.codegen.gmfgen.presentation.GMFGenModelWizardID"
      name = "%_UI_GMFGenModelWizard_label"
      class = "org.eclipse.gmf.codegen.gmfgen.presentation.GMFGenModelWizard"
      category = "org.eclipse.gmf.tooling.wizardCategory/org.eclipse.gmf.tooling.wizardsDefault"
      icon = "icons/full/obj16/GMFGenModelFile.gif">
      <description>%_UI_GMFGenModelWizard_description</description>
      <selection class = "org.eclipse.core.resources.IResource" />
    </wizard>
  </extension>

  <extension point = "org.eclipse.ui.editors">
    <editor
        id = "org.eclipse.gmf.codegen.gmfgen.presentation.GMFGenEditorID"
        name = "%_UI_GMFGenEditor_label"
        icon = "icons/full/obj16/GMFGenModelFile.gif"
        extensions = "gmfgen"
        class = "org.eclipse.gmf.codegen.gmfgen.presentation.GMFGenEditor" 
        contributorClass="org.eclipse.gmf.codegen.gmfgen.presentation.GMFGenActionBarContributor" >
       <contentTypeBinding contentTypeId="org.eclipse.gmf.gen"/>
       <contentTypeBinding contentTypeId="org.eclipse.gmf.gen_2_0"/>
       <contentTypeBinding contentTypeId="org.eclipse.gmf.gen_1_0"/>
    </editor>
  </extension>    
</plugin>
