<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://www.eclipse.org/gmf/2005/mappings" 
       class = "org.eclipse.gmf.mappings.GMFMapPackage"/> 
    <package 
       uri = "http://www.eclipse.org/gmf/2005/mappings/2.0" 
       class = "org.eclipse.gmf.mappings.GMFMapPackage"/> 
    <package 
       uri = "http://www.eclipse.org/gmf/2006/mappings"
       class = "org.eclipse.gmf.mappings.GMFMapPackage"/>
    <package 
       uri = "http://www.eclipse.org/gmf/2008/mappings"
       class = "org.eclipse.gmf.mappings.GMFMapPackage"
       genModel = "models/gmfmap.genmodel" />
  </extension>

  <!--extension
        point="org.eclipse.emf.ecore.dynamic_package">
     <resource
           location="models/gmfmap_2007.ecore"
           uri="http://www.eclipse.org/gmf/2006/mappings">
     </resource>
  </extension-->

  <extension point="org.eclipse.emf.ecore.extension_parser">
    <parser type="gmfmap" class="org.eclipse.gmf.internal.map.util.GMFMapResource$Factory" />
  </extension>

  <extension point="org.eclipse.team.core.fileTypes">
    <fileTypes extension="gmfmap" type="text" />
  </extension>

</plugin>
