<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>
	<extension point="org.eclipse.pde.ui.pluginContent">
   		<wizard
   			id="org.eclipse.gmf.graphdef.codegen.ui.FigureConverter.NoUI"
   			name="%wizard.name"
   			icon="/icons/obj16/GMFGraphModelFile.gif"
   			ui-content="false"
   			requiresActivator="true"
   			class="org.eclipse.gmf.internal.graphdef.codegen.ui.FigureGeneratorWizard">
   			<description>%wizard.description</description>
   		</wizard>	
	</extension>
 <extension
       id="gmf.graphdef.codegen.ui.menus"
       point="org.eclipse.ui.popupMenus">
    <objectContribution
          adaptable="true"
          id="gmf.graphdef.codegen.ui.menus.modelFile"
          nameFilter="*.gmfgraph"
          objectClass="org.eclipse.core.resources.IFile">
       <action
             class="org.eclipse.gmf.internal.graphdef.codegen.ui.GeneratePluginAction"
             enablesFor="+"
             id="gmf.graphdef.codegen.ui.generatePlugin"
             label="%generateAction.label"
             menubarPath="additions"/>
    </objectContribution>
 </extension>
</plugin>
