<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

  <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
    <factory 
       uri = "http://www.eclipse.org/gmf/2008/mappings" 
       class = "org.eclipse.gmf.mappings.provider.GMFMapItemProviderAdapterFactory"
       supportedTypes = 
         "org.eclipse.emf.edit.provider.IEditingDomainItemProvider
          org.eclipse.emf.edit.provider.IStructuredItemContentProvider
          org.eclipse.emf.edit.provider.ITreeItemContentProvider
          org.eclipse.emf.edit.provider.IItemLabelProvider
          org.eclipse.emf.edit.provider.IItemPropertySource" />
  </extension>
  

  <extension
    point = "org.eclipse.ui.newWizards">
    <wizard
      id = "org.eclipse.gmf.mappings.presentation.GMFMapModelWizardID"
      name = "%_UI_GMFMapModelWizard_label"
      class = "org.eclipse.gmf.mappings.presentation.GMFMapModelWizard"
      category = "org.eclipse.gmf.tooling.wizardCategory/org.eclipse.gmf.tooling.wizardsDefault"
      icon = "icons/full/obj16/GMFMapModelFile.gif">
      <description>%_UI_GMFMapModelWizard_description</description>
      <selection class = "org.eclipse.core.resources.IResource" />
    </wizard>
  </extension>

  <extension point = "org.eclipse.ui.editors">
    <editor
        id = "org.eclipse.gmf.mappings.presentation.GMFMapEditorID"
        name = "%_UI_GMFMapEditor_label"
        icon = "icons/full/obj16/GMFMapModelFile.gif"
        extensions = "gmfmap"
        class = "org.eclipse.gmf.mappings.presentation.GMFMapEditor" 
        contributorClass="org.eclipse.gmf.mappings.presentation.GMFMapActionBarContributor" >
    </editor>
  </extension>    
</plugin>
