<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

  <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
    <factory 
       uri = "http://www.eclipse.org/gmf/2005/GraphicalDefinition" 
       class = "org.eclipse.gmf.gmfgraph.provider.GMFGraphItemProviderAdapterFactory"
       supportedTypes = 
         "org.eclipse.emf.edit.provider.IEditingDomainItemProvider
          org.eclipse.emf.edit.provider.IStructuredItemContentProvider
          org.eclipse.emf.edit.provider.ITreeItemContentProvider
          org.eclipse.emf.edit.provider.IItemLabelProvider
          org.eclipse.emf.edit.provider.IItemPropertySource" />
    <factory 
       uri = "http://www.eclipse.org/gmf/2006/GraphicalDefinition" 
       class = "org.eclipse.gmf.gmfgraph.provider.GMFGraphItemProviderAdapterFactory"
       supportedTypes = 
         "org.eclipse.emf.edit.provider.IEditingDomainItemProvider
          org.eclipse.emf.edit.provider.IStructuredItemContentProvider
          org.eclipse.emf.edit.provider.ITreeItemContentProvider
          org.eclipse.emf.edit.provider.IItemLabelProvider
          org.eclipse.emf.edit.provider.IItemPropertySource" />
  </extension>
  

  <extension
    point = "org.eclipse.ui.newWizards">
    <wizard
      id = "org.eclipse.gmf.gmfgraph.presentation.GMFGraphModelWizardID"
      name = "%_UI_GMFGraphModelWizard_label"
      class = "org.eclipse.gmf.gmfgraph.presentation.GMFGraphModelWizard"
      category = "org.eclipse.gmf.tooling.wizardCategory/org.eclipse.gmf.tooling.wizardsDefault"
      icon = "icons/full/obj16/GMFGraphModelFile.gif">
      <description>%_UI_GMFGraphModelWizard_description</description>
      <selection class = "org.eclipse.core.resources.IResource" />
    </wizard>
  </extension>

  <extension point = "org.eclipse.ui.editors">
    <editor
        id = "org.eclipse.gmf.gmfgraph.presentation.GMFGraphEditorID"
        name = "%_UI_GMFGraphEditor_label"
        icon = "icons/full/obj16/GMFGraphModelFile.gif"
        extensions = "gmfgraph"
        class = "org.eclipse.gmf.gmfgraph.presentation.GMFGraphEditor" 
        contributorClass="org.eclipse.gmf.gmfgraph.presentation.GMFGraphActionBarContributor" >
    </editor>
  </extension>    
</plugin>
