<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

  <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
    <factory 
       uri = "http://www.eclipse.org/gmf/2005/ToolDefinition" 
       class = "org.eclipse.gmf.tooldef.provider.GMFToolItemProviderAdapterFactory"
       supportedTypes = 
         "org.eclipse.emf.edit.provider.IEditingDomainItemProvider
          org.eclipse.emf.edit.provider.IStructuredItemContentProvider
          org.eclipse.emf.edit.provider.ITreeItemContentProvider
          org.eclipse.emf.edit.provider.IItemLabelProvider
          org.eclipse.emf.edit.provider.IItemPropertySource" />
  </extension>
  

  <extension
    point = "org.eclipse.ui.newWizards">
    <wizard
      id = "org.eclipse.gmf.tooldef.presentation.GMFToolModelWizardID"
      name = "%_UI_GMFToolModelWizard_label"
      class = "org.eclipse.gmf.tooldef.presentation.GMFToolModelWizard"
      category = "org.eclipse.gmf.tooling.wizardCategory/org.eclipse.gmf.tooling.wizardsDefault"
      icon = "icons/full/obj16/GMFToolModelFile.gif">
      <description>%_UI_GMFToolModelWizard_description</description>
      <selection class = "org.eclipse.core.resources.IResource" />
    </wizard>
  </extension>

  <extension point = "org.eclipse.ui.editors">
    <editor
        id = "org.eclipse.gmf.tooldef.presentation.GMFToolEditorID"
        name = "%_UI_GMFToolEditor_label"
        icon = "icons/full/obj16/GMFToolModelFile.gif"
        extensions = "gmftool"
        class = "org.eclipse.gmf.tooldef.presentation.GMFToolEditor" 
        contributorClass="org.eclipse.gmf.tooldef.presentation.GMFToolActionBarContributor" >
    </editor>
  </extension>    
</plugin>
