<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

   <extension-point id="actions" name="Dashboard Actions" schema="schema/actions.exsd"/>

   <extension point = "org.eclipse.ui.views">
      <view
         id = "org.eclipse.gmf.bridge.ui.dashboard.DashboardPart"
         name = "%view.name"
         category = "org.eclipse.ui"
         class = "org.eclipse.gmf.internal.bridge.ui.dashboard.DashboardPart"
         icon = "icons/cview16/dashboard.gif" />
   </extension>

</plugin>
