<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            id="gmf.codegen.ui.executeLiteTemplates"
            nameFilter="*.gmfgen"
            objectClass="org.eclipse.core.resources.IFile">
         <action
               label="%generatecode.action"
               class="org.eclipse.gmf.internal.codegen.lite.popup.actions.ExecuteLiteTemplatesAction"
               menubarPath="additions"
               enablesFor="1"
               id="gmf.codegen.ui.executeLiteTemplatesAction">
         </action>
      </objectContribution>
   </extension>

   <extension point="org.eclipse.gmf.bridge.ui.dashboard.actions">
      <action
         label="%dashboard.gengm"
         class="org.eclipse.gmf.internal.codegen.lite.dashboard.GenerateLiteGMAction"
         location="map_model-genmodel">
      </action>
      <action
         label="%dashboard.gende"
         class="org.eclipse.gmf.internal.codegen.lite.dashboard.GenerateLiteDEAction"
         location="genmodel">
      </action>
   </extension>

</plugin>
