<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://www.eclipse.org/gmf/2006/GraphicalDefinition" 
       class = "org.eclipse.gmf.gmfgraph.GMFGraphPackage"
       genModel = "models/gmfgraph.genmodel" /> 
  </extension>

  <extension
        point="org.eclipse.emf.ecore.dynamic_package">
     <resource
           location="models/gmfgraph_2006.ecore"
           uri="http://www.eclipse.org/gmf/2005/GraphicalDefinition">
     </resource>
  </extension>

  <extension point="org.eclipse.team.core.fileTypes">
    <fileTypes extension="gmfgraph" type="text" />
  </extension>

  <extension
        point="org.eclipse.emf.ecore.content_parser">
     <parser
           class="org.eclipse.gmf.internal.common.ToolingResourceFactory"
           contentTypeIdentifier="org.eclipse.gmf.graph">
     </parser>
     <parser
           class="org.eclipse.gmf.internal.graphdef.util.MigrateFactory2005"
           contentTypeIdentifier="org.eclipse.gmf.graph_1_0">
     </parser>
  </extension>

  <extension
        point="org.eclipse.core.runtime.contentTypes">
     <content-type
           base-type="org.eclipse.emf.ecore.xmi"
           file-extensions="gmfgraph"
           id="org.eclipse.gmf.graph"
           name="%contenttype.graph"
           priority="normal">
        <describer
              class="org.eclipse.emf.ecore.xmi.impl.RootXMLContentHandlerImpl$Describer">
           <parameter
                 name="namespace"
                 value="http://www.eclipse.org/gmf/2006/GraphicalDefinition">
           </parameter>
           <parameter
                 name="kind"
                 value="xmi">
           </parameter>
        </describer>
     </content-type>
     <content-type
           base-type="org.eclipse.emf.ecore.xmi"
           file-extensions="gmfgraph"
           id="org.eclipse.gmf.graph_1_0"
           name="%contenttype.graph10"
           priority="normal">
        <describer
              class="org.eclipse.emf.ecore.xmi.impl.RootXMLContentHandlerImpl$Describer">
           <parameter
                 name="namespace"
                 value="http://www.eclipse.org/gmf/2005/GraphicalDefinition">
           </parameter>
           <parameter
                 name="kind"
                 value="xmi">
           </parameter>
        </describer>
     </content-type>
  </extension>

</plugin>
