<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension-point id="expressionProviders" name="%expressionProviders.Name" schema="schema/expressionProviders.exsd"/>
   <extension point="org.eclipse.gmf.validate.expressionProviders">
      <provider
            class="org.eclipse.gmf.internal.validate.ocl.OCLExpressionProvider"
            isLooselyTyped="false"
            language="ocl"
            modelReflection="true"
            name="OCL Expression Provider">
         <description>
            Supports parsing and evaluating expression written in OCL (Object Constraint Language)
         </description>
      </provider>
     <provider
            class="org.eclipse.gmf.internal.validate.regexp.RegularExpressionProvider"
            isLooselyTyped="false"
            language="regexp"
            modelReflection="false"
            name="Regular Expression Provider">
         <description>
            Supports parsing and evaluating of Regular expressions provided by JDK
         </description>
      </provider>      
      <provider
            class="org.eclipse.gmf.internal.validate.regexp.RegularExpressionProvider$Negated"
            isLooselyTyped="false"
            language="nregexp"
            modelReflection="false"
            name="Negated Regular Expression Provider">
         <description>
            Supports parsing and evaluating of Regular expressions provided by JDK but negates the
            result of matcher evaluation.
         </description>
      </provider>
   </extension>
</plugin>
