<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ant.core.antTasks">
      <antTask
            class="org.eclipse.gmf.internal.xpand.ant.InvokeTemplateTask"
            eclipseRuntime="true"
            headless="true"
            library="/antsupport.jar"
            name="template"
            uri="eclipse.org/gmf/2008/xpand"/>
      <antTask
            class="org.eclipse.gmf.internal.xpand.ant.InvokeFewTemplatesTask"
            eclipseRuntime="true"
            headless="true"
            library="/antsupport.jar"
            name="template-set"
            uri="eclipse.org/gmf/2008/xpand"/>
      <antTask
            class="org.eclipse.gmf.internal.xpand.ant.CodegenFlowTask"
            eclipseRuntime="true"
            headless="true"
            library="/antsupport.jar"
            name="codegen-flow"
            uri="eclipse.org/gmf/2008/xpand"/>
   </extension>
</plugin>
