<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
/**
 * <copyright>
 *
 * Service Data Objects
 * Version 1.0
 * Licensed Materials - Property of BEA and IBM
 *
 * (c) Copyright BEA Systems, Inc. and International Business Machines Corp 2003.  All rights reserved.
 *
 * </copyright>
 * 
 * $Id: plugin.xml,v 1.2 2004/05/16 17:15:47 emerks Exp $
 */
-->

<plugin
    name = "%pluginName"
    id = "org.eclipse.emf.commonj.sdo"
    version = "2.0.0"
    provider-name = "%providerName">

  <requires>
    <import plugin="org.eclipse.core.runtime"/>
  </requires>

  <runtime>
    <library name="runtime/commonj.sdo.jar">
      <export name="*"/>
      <packages prefixes="commonj.sdo"/>
    </library>
  </runtime>

</plugin>
