<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.eclipse.gmf.internal.xpand.editor.XpandEditor"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            extensions="xpt"
            icon="icons/templatefile.gif"
            id="org.eclipse.gmf.xpand.XpandEditor"
            name="%editor.name">
         <contentTypeBinding
               contentTypeId="org.eclipse.gmf.xpt">
         </contentTypeBinding>
      </editor>
   </extension>

   <extension
         point="org.eclipse.ui.commands">
      <category
            name="%cmd.cat"
            description="Xpand Editor Commands"
            id="org.eclipse.gmf.xpand.editor">
      </category>
      <command
            name="%cmd.lt.name"
            categoryId="org.eclipse.gmf.xpand.editor"
            description="%cmd.lt.desc"
            id="org.eclipse.gmf.xpand.editor.insertLT"
            >
      </command>
      <command
            name="%cmd.rt.name"
            categoryId="org.eclipse.gmf.xpand.editor"
            description="%cmd.rt.desc"
            id="org.eclipse.gmf.xpand.editor.insertRT"
            >
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
       <key
            sequence="M1+&lt;"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            contextId="org.eclipse.ui.textEditorScope"
            commandId="org.eclipse.gmf.xpand.editor.insertLT">
      </key>
      <key
            sequence="M1+&gt;"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            contextId="org.eclipse.ui.textEditorScope"
            commandId="org.eclipse.gmf.xpand.editor.insertRT">
      </key>
   </extension>

	<extension
	      point = "org.eclipse.ui.newWizards">
		<category 
		   id = "org.eclipse.gmf.xpand.newWizards"
		   name="%wizard.cat">
		</category>
		 <wizard
		   id = "org.eclipse.gmf.xpand.wizard.NewTemplateFileWizard"
		   name = "%wizard.name"
		   class="org.eclipse.gmf.internal.xpand.editor.ui.NewTemplateFileWizard"
		   category="org.eclipse.gmf.xpand.newWizards"
		   icon="icons/templatefile.gif">
	       <description>%wizard.desc</description>
		   <selection class="org.eclipse.core.resources.IResource"/>
		</wizard>
	</extension>      

</plugin>
